body{
    margin: 0;
}
ul{
    background-color: aqua;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 25%;
    height: 100%;
    overflow: auto;
}
li a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
}
a:hover{
    background-color: black;
    color: white;
}
.ii{
    margin-left: 26%;
    padding: 5px;
    height: 1000px;
    text-align: justify;
}
.i{
    background-color: black;
    color: white;
}
